{% extends "layouts/default.twig" %}

{% block content %}
<div class="wrap">
	<div class="content__body">
		<h1 class="requirement__title--full">{{ requirement.title }} <small class="requirement__status--full status-txt-{{ requirement.status }}">{{ requirement.status }}</small></h1>
		{#<div class="requirement__meta">
			<p class="requirement__meta__item"><i class="fa fa-user"></i> Assigned: {% for user in requirement.assignments %}<a href="#">{{ user.fullName }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
			<p class="requirement__meta__item"><i class="fa fa-tags"></i> Tags: <a href="#">Name 1</a>, <a href="#">Name 2</a></p>
			<p class="requirement__meta__item"><i class="fa fa-sitemap"></i> Related: <a href="#">Requirement A</a>, <a href="#">Requirement B</a>, <a href="#">Requirement C</a></p>
		</div>#}

		<div class="requirement__body--full">
			{{ requirement.body }}
		</div>

		{% if requirement.highlights.count %}
		<h2 class="requirement__notes__heading">Highlights</h2>
		<ul class="requirement__notes">
			{% for highlight in requirement.highlights %}
				<li class="requirement__notes__item">
					<a href="#comment-{{ highlight.comment_id }}">
					{% if highlight.before %}{{ highlight.before }}&nbsp;{% endif %}<strong>{{ highlight.text }}</strong>{% if highlight.after %}&nbsp;{{ highlight.after }}{% endif %}
					</a>
					<a class="requirement__notes__delete" href="{{ url_route('highlight.delete', [account.subdomain, project.slug, requirement.id, highlight.comment_id, highlight.id]) }}"><i class="fa fa-trash-o"></i></a>
				</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>

	{#<div class="requirement__meta">
		<p class="requirement__meta__item"><i class="fa fa-user"></i> {% for user in requirement.assignments %}<a href="#">{{ user.fullName }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>
		<p class="requirement__meta__item"><i class="fa fa-tags"></i> <a href="#">Name 1</a>, <a href="#">Name 2</a>, <a href="#">Name 1</a>, <a href="#">Name 2</a></p>
		<p class="requirement__meta__item"><i class="fa fa-sitemap"></i> <a href="#">Requirement A</a>, <a href="#">Requirement B</a>, <a href="#">Requirement C</a></p>
	</div>#}
</div>
<div class="requirement__block">
	<div class="wrap">
		{% if requirement.assignments.count %}<p class="requirement__block__item"><i class="fa fa-user"></i> {% for user in requirement.assignments %}<a href="#">{{ user.fullName }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>{% endif %}
		{% if requirement.tags.count %}<p class="requirement__block__item"><i class="fa fa-tags"></i> {% for tag in requirement.tags %}<a href="#">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</p>{% endif %}
		<p class="requirement__block__item"><i class="fa fa-sitemap"></i> <a href="#">Requirement A</a>, <a href="#">Requirement B</a>, <a href="#">Requirement C</a></p>
	</div>
</div>
{#<div class="requirement__actions">
	<div class="wrap">
		<ul>
			<li><a class="requirement__actions__item requirement__actions__button" href="#"><i class="fa fa-edit"></i> Edit</a></li>
			<li><a class="requirement__actions__item requirement__actions__button" href="#"><i class="fa fa-code-fork"></i> Split</a></li>
			<li class="requirement__actions__item"><i class="fa fa-tags"></i> Tags: <a href="#">Name 1</a>, <a href="#">Name 2</a></li>
			<li class="requirement__actions__item"><i class="fa fa-sitemap"></i> Related: <a href="#">Requirement A</a>, <a href="#">Requirement B</a>, <a href="#">Requirement C</a></li>
		</ul>
	</div>
</div>#}
<div class="timeline">
	<div class="wrap">
		<div class="timeline__body">
			<div class="comments">
				{% for comment in requirement.comments %}
					<div id="comment-{{ comment.id }}" class="timeline__item comment" data-comment data-comment-id="{{ comment.id }}">
						<div class="timeline__meta">
							<i class="fa {{ comment.icon }} timeline__meta__icon"></i>
							<p class="timeline__meta__label">
								<span class="timeline__meta__label__author">Mark Huot</span>
								<span class="timeline__meta__label__date">{{ comment.created_at.diffForHumans }}</span>
							</p>
						</div>
						{% if comment.body %}
						<div class="comment__body" data-highlightable>
							{{ comment.body }}
						</div>
						{% endif %}
						{% if comment.notes %}
						<div class="comment__notes">
							{{ comment.notes }}
						</div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			<form class="timeline__item comment-form" action="{{ url_route('requirement.comment.store', [account.subdomain, project.slug, requirement.id]) }}" method="post">
				<div class="timeline__meta">
					<i class="fa fa-comment timeline__meta__icon"></i>
					<p class="timeline__meta__label">
						<span class="timeline__meta__label__author">Mark Huot</span>
						<span class="timeline__meta__label__date">now</span>
					</p>
				</div>
				<p class="form__item comment-form__status">
					<span class="comment-form__status__step"><input type="radio" name="requirement[status]" value="pending" id="requirement-status-pending" {{ requirement.status=='pending'?'checked="checked"':'' }} /> <label for="requirement-status-pending" class="status-bg-pending">Pending</label></span>
					<span class="comment-form__status__rarr"><i class="fa fa-arrow-right"></i></span>
					<span class="comment-form__status__step">
						<input type="radio" name="requirement[status]" value="accepted" id="requirement-status-accepted" {{ requirement.status=='accepted'?'checked="checked"':'' }} data-toggle-trigger="accepted" /> <label for="requirement-status-accepted" class="status-bg-accepted">Accepted</label> or
						<input type="radio" name="requirement[status]" value="rejected" id="requirement-status-rejected" {{ requirement.status=='rejected'?'checked="checked"':'' }} data-toggle-trigger="rejected" /> <label for="requirement-status-rejected" class="status-bg-rejected">Rejected</label>
					</span>
					<span class="comment-form__status__rarr comment-form__status__step--conditional" data-toggle-reciever="accepted"><i class="fa fa-arrow-right"></i></span>
					<span class="comment-form__status__step comment-form__status__step--conditional" data-toggle-reciever="accepted"><input type="radio" name="requirement[status]" value="delivered" id="requirement-status-delivered" {{ requirement.status=='delivered'?'checked="checked"':'' }} data-toggle-trigger="accepted" /> <label for="requirement-status-delivered" class="status-bg-delivered">Delivered</label></span>
					<span class="comment-form__status__rarr comment-form__status__step--conditional" data-toggle-reciever="accepted"><i class="fa fa-arrow-right"></i></span>
					<span class="comment-form__status__step comment-form__status__step--conditional" data-toggle-reciever="accepted"><input type="radio" name="requirement[status]" value="closed" id="requirement-status-closed" {{ requirement.status=='closed'?'checked="checked"':'' }} data-toggle-trigger="accepted" /> <label for="requirement-status-closed" class="status-bg-closed">Closed</label></span>
				</p>
				<div class="comment-form__container">
					<div class="form__item comment-form__body" data-toggle-reciever="comment-body">
						<label for="comment-body" data-toggle-trigger="comment-body" data-toggle-class="form__item--collapsed"><i class="fa fa-comment"></i> Comment</label>
						<div class="form__item__content">
							<textarea id="comment-body" name="comment[body]"></textarea>
						</div>
					</div>
					<div class="form__item form__item--collapsed" data-toggle-reciever="requirement-title">
						<label for="requirement-title" data-toggle-trigger="requirement-title" data-toggle-class="form__item--collapsed"><i class="fa fa-header"></i> Title</label>
						<div class="form__item__content">
							<input type="text" id="requirement-title" name="requirement[title]" placeholder="Title..." value="{{ requirement.title }}" />
						</div>
					</div>
					<div class="form__item form__item--collapsed" data-toggle-reciever="requirement-body">
						<label for="requirement-body" data-toggle-trigger="requirement-body" data-toggle-class="form__item--collapsed"><i class="fa fa-align-left"></i> Body</label>
						<div class="form__item__content">
							<textarea id="requirement-body" name="requirement[body]">{{ requirement.body }}</textarea>
						</div>
					</div>
					<div class="form__item form__item--collapsed" data-toggle-reciever="requirement-assignment">
						<label for="requirement-assignment" data-toggle-trigger="requirement-assignment" data-toggle-class="form__item--collapsed"><i class="fa fa-user"></i> Assign</label>
						<div class="form__item__content">
							<select multiple="multiple" id="requirement-assignment" name="requirement[assignments][]" data-token data-placeholder="Select users...">
								{% for user in account.users %}
									<option value="{{ user.id }}" {{ requirement.assignments.contains(user.id) ? 'selected="selected"' : '' }}>{{ user.fullName }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form__item form__item--collapsed" data-toggle-reciever="requirement-tags">
						<label for="requirement-tags" data-toggle-trigger="requirement-tags" data-toggle-class="form__item--collapsed"><i class="fa fa-tags"></i> Tags</label>
						<div class="form__item__content">
							<select multiple="multiple" id="requirement-tags" name="requirement[tags][]" data-token data-tags data-placeholder="Select tags...">
								{% for tag in project.tags %}
									<option value="{{ tag.id }}" {{ requirement.tags.contains(tag.id) ? 'selected="selected"' : '' }}>{{ tag.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form__item form__item--collapsed" data-toggle-reciever="requirement-notify">
						<label for="requirement-notify" data-toggle-trigger="requirement-notify" data-toggle-class="form__item--collapsed"><i class="fa fa-paper-plane"></i> Notify</label>
						<div class="form__item__content">
							<p>We'll let <a href="#">John, Jack, and Mary</a> know about this comment.</p>
						</div>
					</div>
				</div>
				<p class="form__item">
					<button><i class="fa fa-mail-reply-all"></i> Add Comment</button>
				</p>
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
	$(document).on('click', '[data-toggle-trigger]', function() {
		var key = $(this).data('toggle-trigger');
		var className = $(this).data('toggle-class') || 'visible';
		$('[data-toggle-reciever="'+key+'"]').toggleClass(className);
	});
	$(document).on('change', 'input:radio', function() {
		$('[data-checked]').removeAttr('data-checked').trigger('change');
		var key = $(this).data('toggle-trigger');
		if (!key) return;

		var className = $(this).data('toggle-class') || 'visible';
		if ($(this).is(':checked')) {
			$('[data-toggle-reciever="'+key+'"]').addClass(className);
			$(this).attr('data-checked', 'true');
		}
		else {
			$('[data-toggle-reciever="'+key+'"]').removeClass(className);
		}
	});
	$('input:radio:checked').trigger('change');

	$(document).on('mousedown touchdown', function() {
		$('.highlighter').remove();
	});

	$(document).on('mousedown touchdown', '.highlighter', function() {
		return false;
	});

	$(document).on('mouseup touchup', '[data-highlightable]', function() {
		var selection = window.getSelection();
		var firstRange = selection.getRangeAt(0);
		if (!firstRange || firstRange.collapsed) { return; }
		if (!$(firstRange.startContainer).closest('.comment').length) { return; }

		var before = null;
		if (firstRange.startOffset != 0) {
			var beforeArray = firstRange.startContainer.textContent.substring(0, firstRange.startOffset).trim().split(/\s+/);
			before = beforeArray.slice(beforeArray.length-4, beforeArray.length).join(' ');
		}
		var after = null;
		if (firstRange.endOffset != firstRange.endContainer.textContent.length) {
			var afterArray = firstRange.endContainer.textContent.substring(firstRange.endOffset).trim().split(/\s+/);
			after = afterArray.slice(0, 4).join(' ');
		}

		var rect = firstRange.getBoundingClientRect();
		var left = rect.left + (rect.width/2) + document.body.scrollLeft;
		var top = rect.top + document.body.scrollTop;

		var tooltip = $('<div class="highlighter"><a href="#">Highlight</a></div>').appendTo(document.body);
		tooltip.css({
			'position': 'absolute',
			'left': left,
			'top': top,
			'-webkit-transform': 'translateY(-120%) translateX(-50%)'
		});
		tooltip.data('comment-id', $(firstRange.startContainer).closest('.comment').data('comment-id'));
		tooltip.data('before', before);
		tooltip.data('start', firstRange.startOffset);
		tooltip.data('end', firstRange.endOffset);
		tooltip.data('after', after);
	});

	$(document).on('click', '.highlighter a', function() {
		var highlighter = $(this).closest('.highlighter');
		var url = '{{ url_route('highlight.store', [account.subdomain, project.slug, requirement.id, '@commentId']) }}';
		var data = {'highlight':{
			'start': highlighter.data('start'),
			'end': highlighter.data('end'),
			'before': highlighter.data('before'),
			'text': window.getSelection().toString().trim(),
			'after': highlighter.data('after')
		}};
		$.post(url.replace('@commentId', highlighter.data('comment-id')), data, function(data) {
			$('.highlighter').remove();
		});
		return false;
	});

</script>
{% endblock %}
